<div class="container">



  <div class="container clearfix"
    style="min-width:100% !important; padding-right:0px!important; padding-left:0px!important;">

    <div class="join-section heading-block topmargin-lg center">
      <h2>JOIN <span class="storkeGreen"
          style="-webkit-text-fill-color:transparent; -webkit-text-stroke: 2px #57B55A;">GRINTAFY</span></h2>
      <p><span class="divcenter">Join the biggest social platform for football players in the MENA region.
        </span>
      </p>
      <p>
      </p>
    </div>

    <div class="row bottommargin-sm">


      <div class="HL img-p1" style="margin-top: -90px;"><img src="../../assets/img/p1.png" width="500px"></div>
      <div class="HR" style=" margin-top:80px; z-index: 10; ">
        <h2>WANT TO
          <span class="storkeGreen" style="-webkit-text-fill-color:transparent; -webkit-text-stroke: 1px #57B55A;">GO
            PRO?</span>
        </h2>
        <p>
          Start building your profile. Rate and get rated after every game. Prove that you deserve to be voted man of
          the match.
          Upload videos of your skills and goals. Scouts and clubs have access to everything you brag about.
        </p>
      </div>


      <!--  Show mobile Only -------------------Only ---------- begin-->
      <div class="HR desktop_mobile_show_hide" style="margin-top:-50px;z-index: 10; text-align:center;"><img
          src="../../assets/img/p3.png" width="500px"></div>
      <!--  Show mobile Only -------------------Only ---------- end-->


      <div class="HL" style="margin-top:100px; z-index: 10; ">
        <h2>LOOKING TO<br>PLAY <span class="storkeGreen"
            style="-webkit-text-fill-color:transparent; -webkit-text-stroke: 1px #57B55A;">MORE?</span></h2>
        <p>Grintafy has the largest selection of games. Join a game whenever you want, wherever you want.
          Filter your preferences by location, price, skill set, age and level of competition.
          Got your players ready to go? Organize your own game. You can even split and assign team members to their
          formations.

        </p>
      </div>


      <!--  Show Desktop Only -------------------Only ---------- begin-->
      <div class="HR hide_mobile" style="margin-top:-50px;z-index: 10; text-align:center;"><img
          src="../../assets/img/p3.png" width="500px"></div>
      <!--  Show Desktop Only -------------------Only ---------- end-->


      <!-- Show Mobile Only ---------------Begin -->
      <div class="HL desktop_mobile_show_hide" style="z-index: 10;text-align:center; "><img
          src="../../assets/img/p2.png" width="500px"></div>
      <!-- Show Mobile Only ---------------End -->


      <!-- Show Mobile Only ---------------Begin -->
      <div class="HR desktop_mobile_show_hide" style="margin-top:188px;z-index: 10; padding-right:5%;">
        <h2>
          WANT TO CONNECT <br>AND <span class="storkeGreen"
            style="-webkit-text-fill-color:transparent; -webkit-text-stroke: 1px #57B55A;">BRAG</span>
        </h2>
        <p>
          Grintafy is a social engine that connects you to other players showcasing their skills all around the globe.
          Upload your pictures, videos and skills. Follow your friends, teammates and other Grintafiers.

        </p>
      </div>
      <!-- Show Mobile Only ---------------End -->

      <!-- Show Desktop Only ---------------begin -->
      <div class="HL hide_mobile" style="z-index: 10;text-align:center; "><img src="../../assets/img/p2.png"
          width="500px"></div>
      <!-- Show Desktop Only ---------------begin -->

      <!--  Show Desktop Only------------------only ----------- begin-->
      <div class="HR hide_mobile" style="margin-top:188px;z-index: 10; padding-right:5%;">
        <h2>WANT TO CONNECT <br>AND <span class="storkeGreen"
            style="-webkit-text-fill-color:transparent; -webkit-text-stroke: 1px #57B55A;">BRAG</span>
        </h2>
        <p>Grintafy is a social engine that connects you to other players showcasing their skills all around the globe.
          Upload your pictures, videos and skills. Follow your friends, teammates and other Grintafiers.

        </p>
      </div>
      <!--  Show Desktop Only------------------only ----------- begin-->

    </div>



    

    <div class=" parallax dark nobottommargin"
      style="background: url('../assets/overlay.png') center no-repeat; padding: 100px 0;">

      <video autoplay="" muted="" loop="" id="myVideo"
        style="position: fixed; right: 0; bottom: 0; min-width: 100%; min-height: 100%; opacity: 0.2;">
        <source src="../assets/video/bg_players.mp4" type="video/mp4">
      </video>



      <!--*********************************************************************************************************************************
*******************
*************
*
*
*
*
*-->



      <div class="center" style="z-index:10;">
        <h2>GET <span class="storkeGreen"
            style="-webkit-text-fill-color:transparent; -webkit-text-stroke: 2px #57B55A;">STARTED</span></h2>
        <p class="para">
          Whether you are a player, club executive, scout or service provider join TomorrowChamp to find exactly what
          you’re looking for.
        </p>


      </div>

      <div class="get-started text-center">
        <div class="get-box">
          <div class="icon-sec">
            <img src="../assets/img/Shirt-2.png" alt="" />
            <h3>PLAYER</h3>
            <a href="player.html">DISCOVER</a>
          </div>
        </div>

        <div class="get-box">
          <div class="icon-sec">
            <img src="../assets/img/Scout-and-Clubs-icon.png" alt="" />
            <h3>Scout &amp; Clubs</h3>
            <a href="scouts.html">DISCOVER</a>
          </div>
        </div>

        <div class="get-box">
          <div class="icon-sec">
            <img src="../assets/img/Card-Hand.png" alt="" />
            <h3>Service Providers</h3>
            <a href="service.html">DISCOVER</a>
          </div>
        </div>
      </div>
    </div>