img {
	vertical-align: middle;
	border-style: none;
}

.get-started .get-box {
	display: inline-block;
	    background: url(../../assets/img/Rounded-Box-Bg.png);
	    vertical-align: top;
	    padding: 15px 0;
	    margin: 0 10px 20px;
	    min-height: 310px;
	    width: 260px;
	    background-size: cover;
}

.get-box img {
    width: 150px;
    height: auto;
}