<!--<div class="get-started text-center">
  <div class="get-box">
    <div class="icon-sec">
      <img src="../assets/img/Shirt-2.png" alt="" />
      <h3>PLAYER</h3>
      <a href="player.html">DISCOVER</a>
    </div>
  </div>

  <div class="get-box">
    <div class="icon-sec">
      <img src="../assets/img/Scout-and-Clubs-icon.png" alt="" />
      <h3>Scout &amp; Clubs</h3>
      <a href="scouts.html">DISCOVER</a>
    </div>
  </div>

  <div class="get-box">
    <div class="icon-sec">
      <img src="../assets/img/Card-Hand.png" alt="" />
      <h3>Service Providers</h3>
      <a href="service.html">DISCOVER</a>
    </div>
  </div>
</div>-->

