<div class="container">
  
  <div class="center" style="z-index:10;">
    <h2>GET <span class="storkeGreen" style="-webkit-text-fill-color:transparent; -webkit-text-stroke: 2px #57B55A;">STARTED</span></h2>
    <p class="para">
        Whether you are a player, club executive, scout or service provider join TomorrowChamp to find exactly what you’re looking for.
      </p>


  </div>

  <div class="get-started text-center" >
  <div class="get-box">
    <div class="icon-sec">
      <img src="../assets/img/Shirt-2.png" alt="" />
      <h3>PLAYER</h3>
      <a href="player.html">DISCOVER</a>
    </div>
  </div>

  <div class="get-box">
    <div class="icon-sec">
      <img src="../assets/img/Scout-and-Clubs-icon.png" alt="" />
      <h3>Scout &amp; Clubs</h3>
      <a href="scouts.html">DISCOVER</a>
    </div>
  </div>

  <div class="get-box">
    <div class="icon-sec">
      <img src="../assets/img/Card-Hand.png" alt="" />
      <h3>Service Providers</h3>
      <a href="service.html">DISCOVER</a>
    </div>
  </div>
</div>
</div>

